<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Gallery</title>
</head>
<body>
    <div class="header">
        <div id="header_content">THE EIGHT WONDERS OF PSG TECH</div>
    </div>
    <div class="content">
        <div id="musiq"><audio controls src="{{ url_for('static',filename='friendship.mp3') }}"></audio></div>
        <div class="pic">
            <div class="box">
                <img src="{{ url_for('static',filename='1.jpeg') }}">
                <div id="box-content">Seven friends, countless memories,
    One bond, a lifetime of stories</div>
                <div id="place">OOTY</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='2.jpeg') }}">
                <div id="box-content">A group full of dreams, smiles, and fun,
    Many personalities, but our friendship is one.</div>
                <div id="place">SEMMOZHI POONGA</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='3.jpeg') }}">
                <div id="box-content">Different souls, one crazy story,
    Together we turned moments into memories.</div>
                <div id="place">PSG ITech</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='4.jpeg') }}">
                <div id="box-content">No matter where life takes us tomorrow,
These memories will stay forever</div>
                <div id="place">BOOMERANG</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='5.jpeg') }}">
                <div id="box-content">Four girls, four hearts, one unbreakable bond.
Together, we make every moment unforgettable.</div>
                <div id="place">PSG Tech</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='6.jpeg') }}">
                <div id="box-content">Four best friends, countless laughs.
A friendship written in every beautiful memory</div>
                <div id="place">PSG Tech</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='7.jpeg') }}">
                <div id="box-content">2 boys with a legend🔥</div>
                <div id="place">PSG Tech</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='8.jpeg') }}">
                <div id="box-content">We came from different places.
But friendship made us family.</div>
                <div id="place">OOTY</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='9.jpeg') }}">
                <div id="box-content">Three best friends, one little world.
Where happiness never ends</div>
                <div id="place">OOTY</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='10.jpeg') }}">
                <div id="box-content">Best friends make the good times better</div>
                <div id="place">CLUSTERS</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='12.jpeg') }}">
                <div id="box-content">We laugh like siblings,
And care like true best friends and never left never left your side</div>
                <div id="place">CLUSTERS</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='13.jpeg') }}">
                <div id="box-content">Friendship isn’t about who you’ve known the longest.
It’s about who never left your side</div>
                <div id="place">CLUSTERS</div>
            </div>
            <div class="box" style="width: 250px;">
                <img src="{{ url_for('static',filename='11.jpeg') }}" style="height: 325px;width: auto;">
                <div id="box-content">Different genders, one friendship.
Countless memories, endless laughter</div>
                <div id="place">OOTY</div>
            </div>
            <div class="box" style="width: 250px;">
                <img src="{{ url_for('static',filename='14.jpeg') }}" style="height: 325px; width: auto;">
                <div id="box-content">Just a friendship worth a lifetime</div>
                <div id="place">SEMMOZHI POONGA</div>
            </div>
            <div class="box" style="width: 250px;">
                <img src="{{ url_for('static',filename='15.jpeg') }}" style="height: 325px; width: auto;">
                <div id="box-content">We may not be a couple,
But we’re a perfect team</div>
                <div id="place">OOTY</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='16.jpeg') }}"">
                <div id="box-content">Different personalities, endless laughter.
That’s the beauty of our friendship.</div>
                <div id="place">PSG Tech</div>
            </div>
        </div>
    </div>
</body>
</html>
