<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <div id="header_content">THE EIGHT WONDERS OF PSG TECH</div>
    </div>
    <div class="content">
        <div class="pic">
            <div class="box">
                <img src="{{ url_for('static',filename='1.jpeg') }}" alt="">
                <div id="box-content">Seven friends, countless memories,
    One bond, a lifetime of stories</div>
                <div id="place">OOTY</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='2.jpeg') }}" alt="">
                <div id="box-content">A group full of dreams, smiles, and fun,
    Many personalities, but our friendship is one.</div>
                <div id="place">SEMMOZHI POONGA</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='3.jpeg') }}" alt="">
                <div id="box-content">Different souls, one crazy story,
    Together we turned moments into memories.</div>
                <div id="place">PSG ITech</div>
            </div>
            <div class="box">
                <img src="{{ url_for('static',filename='4.jpeg') }}" alt="">
                <div id="box-content">No matter where life takes us tomorrow,
These memories will stay forever</div>
                <div id="place">BOOMERANG</div>
            </div>
        </div>
    </div>
</body>
</html>